@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Sora";
  src: url(./assets/fonts/Sora-VariableFont_wght.ttf) format("truetype");
}

:root{
  --black: #0E070C;
  --white: #fefefe;
  --gray: #E5E5E5;
  --sidebar: #222222;
}

.bgColor{
  background-color: var(--black);
}

.white{
  color: var(--white);
}

.bgBlack{
  background-color: var(--black);
}

.bgSidebar{
  background-color: var(--sidebar);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes rotateHover1 {
  from {
    transform: translateX(0rem) translateY(0.18rem) rotate(0deg) translateZ(0px);
  }
  to {
    transform: translateX(0.25rem) translateY(0.18rem) rotate(-45deg) translateZ(0px);
  }
}

@keyframes rotateUnhover1 {
  from {
    transform: translateX(0.25rem) translateY(0.18rem) rotate(-45deg) translateZ(0px);
  }
  to {
    transform: translateX(0rem) translateY(0.18rem) rotate(0deg) translateZ(0px);
  }
}

@keyframes rotateHover2 {
  from {
    transform: translateX(0rem) translateY(-0.18rem) rotate(0deg) translateZ(0px);
  }
  to {
    transform: translateX(0.25rem) translateY(-0.18rem) rotate(45deg) translateZ(0px);
  }
}

@keyframes rotateUnhover2 {
  from {
    transform: translateX(0.25rem) translateY(-0.18rem) rotate(45deg) translateZ(0px);
  }
  to {
    transform: translateX(0rem) translateY(-0.18rem) rotate(0deg) translateZ(0px);
  }
}

.rotate-hover-1 {
  animation: rotateHover1 0.15s ease-in-out forwards;
}

.rotate-unhover-1 {
  animation: rotateUnhover1 0.15s ease-in-out forwards;
}

.rotate-hover-2 {
  animation: rotateHover2 0.15s ease-in-out forwards;
}

.rotate-unhover-2 {
  animation: rotateUnhover2 0.15s ease-in-out forwards;
}

.sidebar {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.sidebar-open {
  transform: translateX(0);
}

.sidebar-closed {
  transform: translateX(-100%);
}

@keyframes rotateUnhover1 {
  from {
    transform: translateX(0.25rem) translateY(0.18rem) rotate(-45deg) translateZ(0px);
  }
  to {
    transform: translateX(0rem) translateY(0.18rem) rotate(0deg) translateZ(0px);
  }
}

@keyframes rotateUnhover2 {
  from {
    transform: translateX(0.25rem) translateY(-0.18rem) rotate(45deg) translateZ(0px);
  }
  to {
    transform: translateX(0rem) translateY(-0.18rem) rotate(0deg) translateZ(0px);
  }
}

@keyframes rotateHover1 {
  from {
    transform: translateX(0rem) translateY(0.18rem) rotate(0deg) translateZ(0px);
  }
  to {
    transform: translateX(0.25rem) translateY(0.18rem) rotate(-45deg) translateZ(0px);
  }
}

@keyframes rotateHover2 {
  from {
    transform: translateX(0rem) translateY(-0.18rem) rotate(0deg) translateZ(0px);
  }
  to {
    transform: translateX(0.25rem) translateY(-0.18rem) rotate(45deg) translateZ(0px);
  }
}

@keyframes rotateHover1Click {
  from {
    transform: translateX(0rem) translateY(-0.18rem) rotate(0deg) translateZ(0px);
  }
  to {
    transform: translateX(0.25rem) translateY( 0.2rem) rotate(45deg) translateZ(0px);
  }
}

@keyframes rotateHover2Click {
  from {
    transform: translateX(0rem) translateY(-0.18rem) rotate(0deg) translateZ(0px);
  }
  to {
    transform: translateX(0.25rem) translateY(-0.13rem) rotate(-45deg) translateZ(0px);
  }
}

.rotate-hover-1 {
  animation: rotateHover1 0.15s ease-in-out forwards;
}

.rotate-unhover-1 {
  animation: rotateUnhover1 0.15s ease-in-out forwards;
}

.rotate-hover-2 {
  animation: rotateHover2 0.15s ease-in-out forwards;
}

.rotate-unhover-2 {
  animation: rotateUnhover2 0.15s ease-in-out forwards;
}

.rotate-hover-1-click {
  animation: rotateHover1Click 0.15s ease-in-out forwards !important;
}
.rotate-hover-2-click {
  animation: rotateHover2Click 0.15s ease-in-out forwards !important;
}

.sidebar {
  transition: transform 0.3s ease-in-out;
  /* transform: translateX(-100%); */
}

.sidebar-open {
  /* transform: translateX(0); */
}

.sidebar-closed {
  /* transform: translateX(-100%); */
  display: none;
}

.bgPrincipal {
  background-color: #131313;
}

#accordion > span {
  display: none !important;
}

img{
  max-width: none !important;
}
.bgListItem:hover{
  background-color: var(--white) !important;
  color: var(--black) !important;
}

.bgListItem:focus, .bgListItem:active{
  background-color: var(--white) !important;
  color: var(--black) !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}